# Drop it ini /etc/systemd/system/multi-user.target.wants/
[Unit]
Description=Sprinkler
After=multi-user.target
 
[Service]
Type=simple
Environment=YASC_ENV=prod
Environment=YASC_LOG_LEVEL=info
Environment=YASC_PATH={path_to_yasc}
WorkingDirectory={path_to_yasc}/YASC
ExecStart={path_to_yasc}/YASC/start_yasc.sh
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
